
@*<div class="footer">
    <h6 class="text-center pull-right">Copyright &copy; 2016 PCR Onboard. All Rights Reserved</h6>
</div>*@
<div class="footer">
    @*<h6 class="pull-left col-md-4 col-md-offset-3 col-lg-3 col-lg-offset-2 col-xs-5 col-sm-3">Version 0.01.00.162</h6>*@
    <h6 class="col-md-3 col-md-offset-3 col-lg-4 col-lg-offset-2 col-xs-12 col-sm-4">Published on 2nd Mar 2017 9.50 PM(IST) </h6>
    <h6 class="col-xs-12 col-md-4 col-lg-4 col-sm-4">Copyright © 2016 PCR Onboard. All Rights Reserved</h6>
    <a href="http://betabulls.in/" class="col-md-2 col-lg-2 col-xs-12 col-sm-4"><img src="~/images/betabulls.png" class="img-responsive pull-right"></a>
</div>




@*<div class="page-footer">
        <div class="footer-copyright">
            <span class="copyright-symbol">
                ©
            </span>
              2016 PCRonBoard
        </div>
        <div class="footer-buttons">
            <a href="#">
                <i class="fa fa-external-link"></i>
            </a>
        </div>
    <img src="~/images/betabulls.png" />
    </div>*@
