<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->
  <system.webServer>
    <handlers>
      <remove name="WebDAV" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
    <aspNetCore processPath="dotnet" arguments=".\PCR.Onboarding.UI.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" />
  </system.webServer>
  <system.web>
    <globalization uiCulture="en-AU" culture="en-AU" />
  </system.web>
</configuration>
<!--ProjectGuid: 7336895a-e186-45a8-8a6a-2da1d57bfc53-->