@model ChangePasswordViewModel

    <form asp-controller="UserManagement" asp-action="ChangePassword" method="post" role="form" id="changepasswordtab">
    <div class="form-title">
        <h5><strong>Change Password</strong></h5>
    </div>
    <div class="row profile-data">
        <label for="inputEmail3" class="col-sm-2 control-label no-padding-right employee-inputcol">Current Password :</label>
        <div class="form-group">
            <div class="col-sm-3 col-sm-offset-1">
                <span class="input-icon icon-right">
                    <input asp-for="OldPassword" type="password" class="form-control "    placeholder="Current Password" />
                </span>
                <span asp-validation-for="OldPassword" class="asterisk"></span>
            </div>
        </div>
    </div>
    <div class="row profile-data">
        <label for="inputEmail3" class="col-sm-2 control-label no-padding-right employee-inputcol">New Password :</label>
        <div class="form-group">
            <div class="col-sm-3 col-sm-offset-1">
                <span class="input-icon icon-right">
                    <input asp-for="NewPassword" type="password" class="form-control"    placeholder="New Password" />
                </span>
                <span asp-validation-for="NewPassword" class="asterisk"></span>
            </div>
        </div>
    </div>
    <div class="row profile-data">
        <label for="inputEmail3" class="col-sm-2 control-label no-padding-right employee-inputcol">Confirm Password :</label>
        <div class="form-group">
            <div class="col-sm-3 col-sm-offset-1">
                <span class="input-icon icon-right">
                    <input asp-for="ConfirmPassword" type="password" class="form-control"    placeholder="Confirm Password" />
                </span>
                <span asp-validation-for="ConfirmPassword" class="asterisk"></span>
            </div>
        </div>  
    </div>    
            <button type="submit" class="btn btn-md btn-primary center-block margin-btn" id="btnSave">Update Password</button>
</form>

<script>
    $(document).ready(function () {
      
    });

</script>