@model PCR.Onboarding.UI.Models.JobTitle
@{
    ViewData["Title"] = "Super Admin";
}
   <!-- Page Breadcrumb -->
<div class="page-breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home themeprimary"></i>
            @if (ViewBag.RoleID == 1)
            {
                <a href="/SuperAdmin/Index">Dashboard</a>
            }
            else if (ViewBag.RoleID == 2)
            {
                <a href="/ClientAdmin/Index">Dashboard</a>
            }
            else if (ViewBag.RoleID == 3)
            {
                <a href="/Manager/Index">Dashboard</a>
            }
            else
            {
                <a href="/Employee/I9categories">Dashboard</a>
            }
        </li>
        <li>
            <a href="/Administration/ManageJobTitles">Manage Job Title</a>
        </li>
        <li class="active">Edit Job Title</li>
    </ul>
</div>
<!-- /Page Breadcrumb -->
<!-- Page Header -->
<div class="page-header position-relative">
    <div class="header-title">
        <h1 class="themeprimary">
            Edit Job Title
        </h1>
    </div>
    <!--Header Buttons-->
    <div class="header-buttons">
        <a class="sidebar-toggler" href="#">
            <i class="fa fa-arrows-h"></i>
        </a>
        <a class="refresh" id="refresh-toggler" href="">
            <i class="glyphicon glyphicon-refresh"></i>
        </a>
        <a class="fullscreen" id="fullscreen-toggler" href="#">
            <i class="glyphicon glyphicon-fullscreen"></i>
        </a>
    </div>
    <!--Header Buttons End-->
</div>
<!-- /Page Header -->
<!-- Page Body -->
<div class="page-body">
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding:0px;">
        <!-- <h5 class="row-title before-maincolor widget-caption">Add New Division</h5> -->
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 division-form margin-top-add padding-bottom-add">
            <div class="col-lg-2 col-sm-12 col-xs-12"></div>
            <form class="form-horizontal col-lg-12 col-sm-12 col-xs-12" role="form">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 col-sm-offset-2 col-md-2 col-lg-2 col-xs-12 col-md-offset-3 col-lg-offset-3 control-label no-padding-right">ID :</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="txtJobID" disabled="" style="cursor: default;" placeholder="1">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 col-sm-offset-2 col-md-2 col-lg-2 col-xs-12 col-md-offset-3 col-lg-offset-3 control-label no-padding-right">Job Code :</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="txtJobCode" placeholder="4213">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 col-sm-offset-2 col-md-2 col-lg-2 col-xs-12 col-md-offset-3 col-lg-offset-3 control-label no-padding-right">Title :</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="txtTitle" placeholder="General Manager">
                    </div>
                </div>
                <div class="form-group margin-bottom">
                    <label for="inputEmail3" class="col-sm-4 col-sm-offset-2 col-md-2 col-lg-2 col-xs-12 col-md-offset-3 col-lg-offset-3 control-label no-padding-right">Description :</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="txtDesc">
                    </div>
                </div>

            </form>
            <hr class="location-hr">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center center-block">
                <button onclick="location.href = '/Administration/ManageJobTitles'" class="btn btn-primary btn-md btnSearch" id="btnSave">Save</button>
                <button onclick="location.href = '/Administration/ManageJobTitles'" class="btn btn-warning btn-md btnSearch">Cancel</button>
            </div>
            <div class="col-lg-6 col-sm-12 col-xs-12"></div>
        </div>
    </div>
</div>
<!-- /Page Body -->

<environment>
    <style>
        ::-webkit-input-placeholder {
            color: #888 !important;
        }

        :-moz-placeholder { /* Firefox 18- */
            color: #888 !important;
        }

        ::-moz-placeholder { /* Firefox 19+ */
            color: #888 !important;
        }

        :-ms-input-placeholder {
            color: #888;
        }

        .form-horizontal .form-group {
            margin-bottom: 8px;
        }

        .form-horizontal .control-label {
            text-align: left;
        }
    </style>
</environment>
<environment>
    <!--Page Related Scripts-->
    <script src="~/assets/js/inputmask/jasny-bootstrap.min.js"></script>
    <script src="~/assets/js/validation/bootstrapValidator.js"></script>
    <script src="~/assets/js/bootbox/bootbox.js"></script>
    <script src="~/assets/js/toastr/toastr.js"></script>
    <script>
       $(document).ready(function ()
        {
            if ('@TempData["Message"]' != null && '@TempData["Message"]' != "") {
                NotifyMessage('@TempData["Message"]', 'top-right', '1200', 'warning', 'fa-warning', true);
            }
           $("#ddlMasterClient").prop("disabled", true).css("cursor", "default").fadeTo(500, "none");

           // To accept numerals only
           $("#JobCode").keypress(function (e) {
               if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                   return false;
               }
               if ($("#JobCode").val().length > 9) {
                   return false;
               }
           });
           // Restrict special characters
           // It will allow Underscore(_) symbol and characters only
           $('#JobTitles').keypress(function (e) {
               var regex = new RegExp("^[a-zA-Z_ ]+$");
               var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
               if (regex.test(str)) {
                   return true;
               }
               e.preventDefault();
               return false;
           });
           // End Restrict special characters




        });

        function NotifyMessage(message, position, timeout, theme, icon, closable) {
            toastr.options.positionClass = 'toast-' + position;
            toastr.options.extendedTimeOut = 0; //1000;
            toastr.options.timeOut = timeout;
            toastr.options.closeButton = closable;
            toastr.options.iconClass = icon + ' toast-' + theme;
            toastr['custom'](message);
        }
    </script>
</environment>