@model I9Document
  <!-- Page Breadcrumb -->
<div class="page-breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home themeprimary"></i>
            @if (ViewBag.RoleID == 1)
            {
                <a href="/SuperAdmin/Index">Dashboard</a>
            }
            else if (ViewBag.RoleID == 2)
            {
                <a href="/ClientAdmin/Index">Dashboard</a>
            }
            else if (ViewBag.RoleID == 3)
            {
                <a href="/Manager/Index">Dashboard</a>
            }
            else
            {
                <a href="/Employee/I9categories">Dashboard</a>
            }
        </li>
        <li>
            <a href="ManageI9Documents">Manage I9 Documents</a>
        </li>
        <li class="active">Edit I9 Document</li>
    </ul>
</div>
<!-- /Page Breadcrumb -->
<!-- Page Header -->
<div class="page-header position-relative">
    <div class="header-title">
        <h1 class="themeprimary">
            Edit I9 Document
        </h1>
    </div>
    <!--Header Buttons-->
    <div class="header-buttons">
        <a class="sidebar-toggler" href="#">
            <i class="fa fa-arrows-h"></i>
        </a>
        <a class="refresh" id="refresh-toggler" href="">
            <i class="glyphicon glyphicon-refresh"></i>
        </a>
        <a class="fullscreen" id="fullscreen-toggler" href="#">
            <i class="glyphicon glyphicon-fullscreen"></i>
        </a>
    </div>
    <!--Header Buttons End-->
</div>
<!-- /Page Header -->
<!-- Page Body -->
<div class="page-body">
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding:0px;">
        <!-- <h5 class="row-title before-maincolor widget-caption">Add New Division</h5> -->
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 division-form">
            <form class="form-horizontal col-lg-12 col-sm-12 col-xs-12" role="form" style="margin-top:15px;">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 col-sm-offset-2 col-md-1 col-lg-1 col-xs-12 col-md-offset-3 col-lg-offset-3 control-label no-padding-right">Document  :</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="inputEmail3" value="U.S. Passport or U.S. Passport Card">
                    </div>
                </div>
                <div class="form-group margin-bottom">
                    <label for="inputEmail3" class="col-sm-4 col-sm-offset-2 col-md-1 col-lg-1 col-xs-12 col-md-offset-3 col-lg-offset-3 control-label no-padding-right">List :</label>
                    <div class="col-sm-4">
                        <select class="form-control">
                            <option value="0"selected>A</option>
                            <option value="1" >B</option>
                            <option value="2">C</option>
                        </select>
                    </div>
                </div>

            </form>
            <hr class="location-hr">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center center-block">
                <a href="/Administration/ManageI9Documents" class="btn btn-primary btn-md btnSearch" id="btnSave">Save</a>
                <a href="/Administration/ManageI9Documents" class="btn btn-warning btn-md btnSearch">Cancel</a>
            </div>
        </div>
    </div>
</div>
<!-- /Page Body -->

<environment>
    <style>
        ::-webkit-input-placeholder {
            color: #888 !important;
        }

        :-moz-placeholder { /* Firefox 18- */
            color: #888 !important;
        }

        ::-moz-placeholder { /* Firefox 19+ */
            color: #888 !important;
        }

        :-ms-input-placeholder {
            color: #888;
        }

        .form-horizontal .form-group {
            margin-bottom: 8px;
        }

        .form-horizontal .control-label {
            text-align: left;
        }
    </style>
</environment>

<environment>
    <!--Page Related Scripts-->   
    <script src="~/assets/js/validation/bootstrapValidator.js"></script>
    <script src="~/assets/js/bootbox/bootbox.js"></script>
    <script src="~/assets/js/toastr/toastr.js"></script>
    <script>
        $(document).ready(function ()
        {
            if ('@TempData["Message"]' != null && '@TempData["Message"]' != "") {
                NotifyMessage('@TempData["Message"]', 'top-right', '1200', 'warning', 'fa-warning', true);
            }
            $("#ddlMasterClient").prop("disabled", true).css("cursor", "default").fadeTo(500, "none");

            // Restrict special characters
            // It will allow numbers and characters only
            $('#I9DocumentTitle').keypress(function (e) {
                var regex = new RegExp("^[0-9a-zA-Z_ ]+$");
                var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                if (regex.test(str)) {
                    return true;
                }
                e.preventDefault();
                return false;
            });
            // End Restrict special characters

        });

        function NotifyMessage(message, position, timeout, theme, icon, closable) {
            toastr.options.positionClass = 'toast-' + position;
            toastr.options.extendedTimeOut = 0; //1000;
            toastr.options.timeOut = timeout;
            toastr.options.closeButton = closable;
            toastr.options.iconClass = icon + ' toast-' + theme;
            toastr['custom'](message);
        }

    </script>


</environment>