
@{
    ViewData["Title"] = "Log in";
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PCR Onboarding</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/assets/css/bootstrap.css" />
        <link href="~/assets/css/font-awesome.css" rel="stylesheet" />
        <link href="~/assets/css/animate.css" rel="stylesheet" />
        <link rel="shortcut icon" href="~/assets/img/favicon.png" type="image/x-icon">
        <link href="~/assets/css/beyond.css" rel="stylesheet" />
        <link href="~/css/custom.css" rel="stylesheet" />
        <style>
            .input-group-addon {
                background-color: #fff;
            }

            .input-group .input-group-addon {
                background-image: none !important;
            }

            .loginbox-container .form-group {
                margin-bottom: 22px;
            }

            .loginbox-container {
                margin: 24px 37px 15px 37px;
            }

            body:before {
                background-color: #eeeeee;
            }

            .login-container .loginbox .loginbox-submit {
                padding: 10px 40px 10px 0px;
            }
        </style>
    </environment>
    <environment names="Development,Staging,Production">
        <script src="~/assets/js/jquery.min.js"></script>
        <script src="~/assets/js/bootstrap.min.js"></script>
        <script src="~/assets/js/slimscroll/jquery.slimscroll.min.js"></script>
        <script src="~/assets/js/skins.min.js"></script>
        @*<script src="~/assets/js/bootstrap.js"></script>*@
        <script src="~/assets/js/beyond.js"></script>
        <script src="~/assets/js/toastr/toastr.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/src/jquery.validate.unobtrusive.js"></script>


        <script>
                $(document).ready(function () {
                    $('#user').focus();

                    $('#Login').click(function () {

                        if ($('#user').val() == 'superadmin' && $('#password').val() == 'superadmin') {
                            var url = "/SuperAdmin/Index";
                            window.location.href = url;
                        }
                        else if ($('#user').val() == 'clientadmin' && $('#password').val() == 'clientadmin') {
                            var url = "/ClientAdmin/Index";
                            window.location.href = url;
                        }
                        else if ($('#user').val() == 'manager' && $('#password').val() == 'manager') {
                            var url = "/Manager/Index";
                            window.location.href = url;
                        }
                        else if ($('#user').val() == 'employee' && $('#password').val() == 'employee') {
                            var url = "/Employee/Index";
                            window.location.href = url;
                        }
                        else {

                            $('#error').show();
                            $('#password').val('');
                        }
                    });
                    $("input[type='text']").keypress(function () {
                        $('#error').hide();
                    });
                    //Enterkey as submit button
                    $('#password').keydown(function (e) {
                        if (e.keyCode == 13) {
                            $('#Login').click();
                        }
                    });
                });
        </script>
    </environment>



</head>

<!--Body-->
<body>
    <div class="login-container animated fadeInDown">
        <div class="loginbox bg-white">
            <img src="~/assets/img/pcr-2.png" class="img-responsive login-icon" />
            <hr>
            <p class="">Welcome to PCR Onboard</p>

            <form class="loginbox-container">
                <div class="form-group">
                    <div class="input-group">

                        <input type="text" id="user" class="form-control icon-border" placeholder="Username">
                        <span class="input-group-addon bordered-blue"><i class="fa fa-user"></i></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">

                        <input type="password" id="password" class="form-control icon-border" placeholder="Password">
                        <span class="input-group-addon bordered-blue"><i class="fa fa-key"></i></span>
                    </div>
                    <span class="text-danger" id="error" hidden>Invalid user/password</span>
                </div>

                <div class="loginbox-submit col-md-6 col-lg-6 col-sm-6 col-xs-12">
                    <button type="button" id="Login" class="btn login-btn btn-block">Login&nbsp;&nbsp; <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                </div>
                <div class="loginbox-forgot col-md-6 col-lg-6 col-sm-6 col-xs-12">
                    <a href="/Login/ForgotPassword">Forgot Password?</a>
                </div>


            </form>
        </div>
    </div>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
            asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"
            asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
    </script>

</body>
<!--Body Ends-->

