@{
    ViewData["Title"] = "Super Admin";
}
<!-- Page Breadcrumb -->
<div class="page-breadcrumbs">
    <ul class="breadcrumb">
        @*<li>
            <i class="fa fa-home themeprimary"></i>
            <a  onclick="SendURL('/SuperAdmin/Index_New')" href="#" >Dashboard</a>
        </li>*@

        <li class="active"> 
            @*<i class="fa fa-home themeprimary"></i>*@
        Read Policies
        </li>
    </ul>
</div>
<!-- /Page Breadcrumb -->
<!-- Page Header -->
<div class="page-header position-relative">
    <div class="header-title">
        <h1 class="themeprimary">
            Policies Form
        </h1>
    </div>
    <!--Header Buttons-->
    <div class="header-buttons">
        <a class="sidebar-toggler" href="#">
            <i class="fa fa-arrows-h"></i>
        </a>
        <a class="refresh" id="refresh-toggler" href="">
            <i class="glyphicon glyphicon-refresh"></i>
        </a>
        <a class="fullscreen" id="fullscreen-toggler" href="#">
            <i class="glyphicon glyphicon-fullscreen"></i>
        </a>
        @if (ViewBag.RoleID != 4)
        {
            <a class="btn btn-primary pull-right" style="width:auto; padding:6px; color:white" href="/Onboarding/ManagePreOnboarding"><i class="fa fa-reply-all"></i> Back to AdminMenu</a>
        }
    </div>
    <!--Header Buttons End-->
</div>
<!-- /Page Header -->
<!-- Page Body -->
<div class="page-body">
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding:0px;">
        <!-- <h5 class="row-title before-maincolor widget-caption">Add New Division</h5> -->
        <div class="division-form">
            <div class="col-md-12">
                <form class="form-horizontal" role="form" id="hideform3">
                    <!-- Acknowledgement Receipt of corporate policies-->
                    <h4 class="themeprimary col-md-12 col-lg-12"><strong>Employee and workplace policies</strong></h4>
                    <hr class="policies-hr" style="width:98%;">

                    <div class="col-md-12 no-padding-left policy-checkbox">
                        <div class="checkbox col-xs-1">
                            <label>
                                <input type="checkbox" checked="checked" class="inverted">
                                <span class="text main-color"></span>
                            </label>
                        </div>

                        <h5 class="col-xs-10"><strong>Our code of conduct guides our business practices.</strong></h5>
                        <p class="col-xs-12 text-justify no-padding-right">We are committed to the highest ethical standards as defined in our code of conduct. We train and certify every employee to promote compliance with these standards. <a href="/assets/img/conductcode.pdf" target="_blank">View code of conduct</a></p>
                    </div>
                    <div class="col-md-12 no-padding-left policy-checkbox">
                        <div class="checkbox col-xs-1">
                            <label>
                                <input type="checkbox" checked="checked" class="inverted">
                                <span class="text main-color"></span>
                            </label>
                        </div>

                        <h5 class="col-xs-10"><strong>We are an equal opportunity employer.</strong></h5>
                        <p class="col-xs-12 text-justify no-padding-right">We are committed to a workplace free from unlawful discrimination and harassment. We provide equal employment opportunity to all persons without regard to race, color, religion, age, gender, sexual orientation, gender identity and expression, national origin, disability, marital status, citizenship status, veteran status, military status or other legally protected classifications. <a href="/assets/img/Affirmative.pdf" target="_blank">View affirmative action policy</a></p>
                    </div>
                    <div class="col-md-12 no-padding-left policy-checkbox">
                        <div class="checkbox col-xs-1">
                            <label>
                                <input type="checkbox" checked="checked" class="inverted">
                                <span class="text main-color"></span>
                            </label>
                        </div>

                        <h5 class="col-xs-10"><strong>We promote values that foster human rights.</strong></h5>
                        <p class="col-xs-12 text-justify no-padding-right" style="margin-bottom:15px;">Verizon’s human rights policy, adopted in 2009, creates an environment of respect, integrity and fairness for our employees and customers wherever we do business, and we expect our business partners to operate the same way. <a href="/assets/img/Rights.pdf" target="_blank">View human rights policy</a></p>
                    </div>
                </form>
            </div>
            @*<hr class="policies-hr">*@
            <hr class="location-hr">
            @*<div class="col-md-6 col-md-offset-5 col-lg-offset-5 col-lg-6 col-sm-12 col-xs-12 form-btns">
                <a onclick="SendURL('/SuperAdmin/PayDepositDetails')" href="#" class="cancel-btn"><button type="button" class="btn btn-md btn-primary btnSearch  pull-right">Previous</button></a>
                <a onclick="SendURL('/SuperAdmin/ReviewDetails')" href="#" class="cancel-btn"><button type="button" class="btn btn-md btn-primary btnSearch  pull-right">Next</button></a>
            </div>*@
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center center-block">
                
                @if (ViewBag.RoleID == 4)
                {
                    <button onclick='location.href = "/Onboarding/Deposit"' class="btn btn-primary btn-md btnSearch">Previous</button>
                <button onclick='location.href = "/Onboarding/SelectDocuments"' class="btn btn-primary btn-md btnSearch">Next</button>
                
                }
                else
                { <button onclick='location.href = "/Onboarding/Deposit"' class="btn btn-primary btn-md btnSearch">Previous</button>
                <button onclick='location.href = "/Onboarding/Upload_document_Views"' class="btn btn-primary btn-md btnSearch">Next</button>}
            </div>
        </div>
    </div>    
</div>
<!-- /Page Body -->




<environment>
    <style>
        .wizard.wizard-wired ul li {
            width: 7.6%;
        }

        .form-group p {
            margin-top: 5px;
        }

        .form-horizontal .control-label {
            text-align: left;
        }

        .help-block {
            font-size: 9px;
            line-height: 16px;
        }

        input[type=checkbox] ~ .text, input[type=radio] ~ .text {
            margin-right: 30px;
        }

        .form-horizontal .form-group {
            margin-left: 0px;
            margin-right: 0px;
        }


        .policy-checkbox .checkbox {
            width: 2%;
            float: left;
        }

        .policy-checkbox label {
            width: 98%;
            float: left;
        }
    </style>
</environment>
<environment>
    <script src="~/assets/js/fuelux/wizard/wizard-custom.js"></script>
    <script src="~/assets/js/toastr/toastr.js"></script>
    <script src="~/assets/js/inputmask/jasny-bootstrap.min.js"></script>
    <script>
        $(window).bind("load", function () {
            /*Sets Themed Colors Based on Themes*/
            themethirdcolor = getThemeColorFromCss('themethirdcolor');
            InitiateEasyPieChart.init();
        });
    </script>
    <script type="text/javascript">
        jQuery(function ($) {
            $('#WiredWizard').wizard().on('finished', function (e) {
                Notify('Thank You! All of your information saved successfully.', 'bottom-right', '5000', 'fa-check', true);
            });
        });
    </script>

    <script>
	$("#hideform").hide();
	$("#hideform2").hide();
		$("#hideform-btn").click(function(){
    $("#hideform").show();
	$("#hideform3").hide();
});

$("#hideform-btn2").click(function(){
    $("#hideform2").show();
	$("#hideform").hide();
	$("#hideform3").hide();
});
    </script>
</environment>