@model I9Document
@{
    ViewData["Title"] = "Deposit";
}
  <!-- Page Breadcrumb -->
<div class="page-breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home themeprimary"></i>
            @if (ViewBag.RoleID == 1)
            {
                <a href="/SuperAdmin/Index">Dashboard</a>
            }
            else if (ViewBag.RoleID == 2)
            {
                <a href="/ClientAdmin/Index">Dashboard</a>
            }
            else if (ViewBag.RoleID == 3)
            {
                <a href="/Manager/Index">Dashboard</a>
            }
            else if(ViewBag.RoleID==4)
            {
                <a href="/Employee/I9categories">Dashboard</a>
            }
        </li>

        <li class="active">Pay Deposit Details</li>
    </ul>
</div>

<!-- Page Header -->
<div class="page-header position-relative">
    <div class="header-title">
        <h1 class="themeprimary">
            I9 Section-1 : Select Documents
        </h1>
    </div>
    <!--Header Buttons-->
    <div class="header-buttons">
        <a class="sidebar-toggler" href="#">
            <i class="fa fa-arrows-h"></i>
        </a>
        <a class="refresh" id="refresh-toggler" href="">
            <i class="glyphicon glyphicon-refresh"></i>
        </a>
        <a class="fullscreen" id="fullscreen-toggler" href="#">
            <i class="glyphicon glyphicon-fullscreen"></i>
        </a>
    </div>
    <!--Header Buttons End-->
</div>
<!-- /Page Header -->
<!-- Page Body -->
<div class="page-body">
    <div id="cust-tbl" class="panel panel-default cust-panel" style="overflow:hidden">
        <div class="panel-heading pheight pnhead2 hidden-xs">
            <div class="col-md-4 col-sm-4">
                <h4>
                    <strong>LIST A</strong>
                </h4>
                <div class="doc-list">
                    <h4>
                        <strong>Documents that Establish Both Identity and Employment Authorization</strong>
                    </h4>
                </div>
                <div>
                    <h4>
                        <strong><span class="or" style="float:right">or</span></strong>
                    </h4>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <h4>
                    <strong>LIST B</strong>
                </h4>
                <div class="doc-list">
                    <h4>
                        <strong>Documents that Establish Both Identity and Employment Authorization</strong>
                    </h4>
                </div>
                <div>
                    <h4>
                        <strong><span class="and" style="float:right">and</span></strong>
                    </h4>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <h4>
                    <strong>LIST C</strong>
                </h4>
                <div class="doc-list">
                    <h4>
                        <strong>Documents that Establish Employment Authorization</strong>
                    </h4>
                </div>
            </div>
        </div>
        <div class="table-responsive" style="float:left">
            <table class="table table-fixed">
                <thead>

                </thead>
                <tbody>
                    <tr class="hidden-lg hidden-md hidden-sm">
                        <td class="bdr-right">
                            <h4><strong>LIST A</strong></h4>
                            <h4>
                                <strong>Documents that Establish Both Identity and Employment Authorization</strong>
                            </h4>
                        </td>
                        <td class="bdr-right">
                            <h4><strong>LIST B</strong></h4>
                            <h4>
                                <strong>Documents that Establish Both Identity and Employment Authorization</strong>
                            </h4>
                        </td>
                        <td>
                            <h4>
                                <strong>LIST C</strong>
                            </h4>
                            <h4>
                                <strong>Documents that Establish Employment Authorization</strong>
                            </h4>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-left">
                            <div class="row">
                                <div class="td-lft-body">
                                    <div class="td-check">
                                        <div class="checkbox">
                                            <label>
                                                <input name="form-field-checkbox" type="checkbox" class="inverted">
                                                <span class="text main-color">&nbsp;1.</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="td-txt">
                                        U.S. Passport or U.S. Passport Card
                                    </div>
                                </div>
                            </div>
                            <hr class="myhr">
                            <div class="row">
                                <div class="td-lft-body">
                                    <div class="td-check td-height-31">
                                        <div class="checkbox">
                                            <label>
                                                <input name="form-field-checkbox" type="checkbox" class="inverted">
                                                <span class="text main-color">&nbsp;2.</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="td-txt">
                                        Permanent Resident Card or Alien Registration Receipt Card (Form 1-551)
                                    </div>
                                </div>
                            </div>
                            <hr class="myhr">
                            <div class="row">
                                <div class="td-lft-body">
                                    <div class="td-check td-height-57">
                                        <div class="checkbox">
                                            <label>
                                                <input name="form-field-checkbox" type="checkbox" class="inverted">
                                                <span class="text main-color">&nbsp;3.</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="td-txt">
                                        Foreign passport that contains a temporary 1-551 stamp or temporary 1-551 printed notation on a machine-readable immigrant visa
                                    </div>
                                </div>
                            </div>
                            <hr class="myhr">
                            <div class="row">
                                <div class="td-lft-body">
                                    <div class="td-check td-height-31">
                                        <div class="checkbox">
                                            <label>
                                                <input name="form-field-checkbox" type="checkbox" class="inverted">
                                                <span class="text main-color">&nbsp;4.</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="td-txt">
                                        Employment Authorization Document that contains a photograph (Form 1-766)
                                    </div>
                                </div>
                            </div>
                            <hr class="myhr">
                            <div class="row">
                                <div class="td-lft-body">
                                    <div class="td-check td-height-170">
                                        <div class="checkbox">
                                            <label>
                                                <input name="form-field-checkbox" type="checkbox" class="inverted">
                                                <span class="text main-color">&nbsp;5.</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="td-txt">
                                        For a nonimmigrant alien authorized to work for a specific employer because of his or her status:
                                    </div>
                                    <div class="eightleft">
                                        <div class="checkbox">
                                            <label>
                                                <span class="text main-color">&nbsp;a.</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="td-txt">
                                        Foreign passport; and
                                    </div>
                                    <div class="eightleft">
                                        <div class="checkbox">
                                            <label>
                                                <span class="text main-color">&nbsp;b.</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="td-txt">
                                        Form 1-94 or Form I-94A that has the following:
                                    </div>
                                    <div class="fifthdiv">
                                        <div class="checkbox">
                                            <label>
                                                <span class="text main-color">&nbsp;(1)</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="td-txt">
                                        The same name as the passport; and
                                    </div>
                                    <div class="eight2">
                                        <div class="checkbox">
                                            <label>
                                                <span class="text main-color">&nbsp;(2)</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="td-txt">
                                        An endorsement of the alien's nonimmigrant status as long as that period of endorsement has not yet expired and the
                                        proposed employment is not in conflict with any restrictions or
                                    </div>
                                </div>
                            </div>
                            <hr class="myhr">
                            <div class="row">
                                <div class="td-lft-body">
                                    <div class="td-check td-height-152">
                                        <div class="checkbox">
                                            <label>
                                                <input name="form-field-checkbox" type="checkbox" class="inverted">
                                                <span class="text main-color">&nbsp;6.</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="td-txt">
                                        Passport from the Federated States of Micronesia (FSM) or the Republic of the Marshall Islands (RMI) with Form 1-94 or Form I-94A indicating nonimmigrant admission under the Compact of Free Association Between the United States and the FSM or RMI
                                    </div>
                                </div>
                            </div>

                            <!-- <table class="table mytable">
                                <tbody class="mytable">
                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input name="form-field-checkbox" type="checkbox" class="inverted">
                                                <span class="text main-color"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>1.</td>
                                    <td style="width:82%;text-align:left">U.S. Passport or U.S. Passport Card Passport or U.S. Passport Card</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input name="form-field-checkbox" type="checkbox" class="inverted">
                                                <span class="text main-color"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>2.</td>
                                    <td style="width:82%;text-align:left">Permanent Resident Card or Alien Registration Receipt Card (Form 1-551)</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input name="form-field-checkbox" type="checkbox" class="inverted">
                                                <span class="text main-color"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>3.</td>
                                    <td style="width:82%;text-align:left">Foreign passport that contains a temporary 1-551 stamp or temporary 1-551 printed notation on a machine- readable immigrant visa</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input name="form-field-checkbox" type="checkbox" class="inverted">
                                                <span class="text main-color"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>4.</td>
                                    <td style="width:82%;text-align:left">Foreign passport that contains a temporary 1-551 stamp or temporary 1-551 printed notation on a machine- readable immigrant visa</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input name="form-field-checkbox" type="checkbox" class="inverted">
                                                <span class="text main-color"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>5.</td>
                                    <td style="width:82%;text-align:left">For a nonimmigrant alien authorized to worl‹ for a specific employer because of his or her status:</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input name="form-field-checkbox" type="checkbox" class="inverted">
                                                <span class="text main-color"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>6.</td>
                                    <td style="width:82%;text-align:left">Passport from the Federated States of Micronesia (FSM) or the Republic of the Marshall Islands (RMI) with Form
                                    I-94 or Form I-94A Indicating nonimmigranl admission under the Compact of Free Association Between the United States and the FSM or RMI
                                    </td>
                                </tr>
                                </tbody>
                            </table> -->

                        </td>
                        <td class="td-center">
                            <div class="row">
                                <div class="td-lft-body">
                                    <div class="td-check td-height-96">
                                        <div class="checkbox">
                                            <label>
                                                <input name="form-field-checkbox" type="checkbox" class="inverted">
                                                <span class="text main-color">&nbsp;1.</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="td-txt">
                                        Driver's license or ID card issued by a State or outlying possession of the United States provided it contains a photograph or information such as name, date of birth, gender, height, eye color, and address
                                    </div>
                                </div>
                            </div>
                            <hr class="myhr">
                            <div class="row">
                                <div class="td-lft-body">
                                    <div class="td-check td-height-96">
                                        <div class="checkbox">
                                            <label>
                                                <input name="form-field-checkbox" type="checkbox" class="inverted">
                                                <span class="text main-color">&nbsp;2.</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="td-txt">
                                        ID card issued by federal, state or local government agencies or entities, provided it contains a photograph or information such as name, date of birth, gender, height, eye color, and address
                                    </div>
                                </div>
                            </div>
                            <hr class="myhr">
                            <div class="row">
                                <div class="td-lft-body">
                                    <div class="td-check td-height-31">
                                        <div class="checkbox">
                                            <label>
                                                <input name="form-field-checkbox" type="checkbox" class="inverted">
                                                <span class="text main-color">&nbsp;3.</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="td-txt">
                                        School ID card with a photograph
                                    </div>
                                </div>
                            </div>
                            <hr class="myhr">
                            <div class="row">
                                <div class="td-lft-body">
                                    <div class="td-check td-height-31">
                                        <div class="checkbox">
                                            <label>
                                                <input name="form-field-checkbox" type="checkbox" class="inverted">
                                                <span class="text main-color">&nbsp;4.</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="td-txt">
                                        Voter's registration card
                                    </div>
                                </div>
                            </div>
                            <hr class="myhr">
                            <div class="row">
                                <div class="td-lft-body">
                                    <div class="td-check td-height-31">
                                        <div class="checkbox">
                                            <label>
                                                <input name="form-field-checkbox" type="checkbox" class="inverted">
                                                <span class="text main-color">&nbsp;5.</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="td-txt">
                                        U.S. Military card or draft record
                                    </div>
                                </div>
                            </div>
                            <hr class="myhr">
                            <div class="row">
                                <div class="td-lft-body">
                                    <div class="td-check td-height-31">
                                        <div class="checkbox">
                                            <label>
                                                <input name="form-field-checkbox" type="checkbox" class="inverted">
                                                <span class="text main-color">&nbsp;6.</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="td-txt">
                                        Military dependent's ID card
                                    </div>
                                </div>
                            </div>
                            <hr class="myhr">
                            <div class="row">
                                <div class="td-lft-body">
                                    <div class="td-check td-height-31">
                                        <div class="checkbox">
                                            <label>
                                                <input name="form-field-checkbox" type="checkbox" class="inverted">
                                                <span class="text main-color">&nbsp;7.</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="td-txt">
                                        U.S. Coast Guard Merchant Mariner Card
                                    </div>
                                </div>
                            </div>
                            <hr class="myhr">
                            <div class="row">
                                <div class="td-lft-body">
                                    <div class="td-check td-height-31">
                                        <div class="checkbox">
                                            <label>
                                                <input name="form-field-checkbox" type="checkbox" class="inverted">
                                                <span class="text main-color">&nbsp;8.</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="td-txt">
                                        Native American tribal document
                                    </div>
                                </div>
                            </div>
                            <hr class="myhr">
                            <div class="row">
                                <div class="td-lft-body">
                                    <div class="td-check td-height-31">
                                        <div class="checkbox">
                                            <label>
                                                <input name="form-field-checkbox" type="checkbox" class="inverted">
                                                <span class="text main-color">&nbsp;9.</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="td-txt">
                                        Driver's license issued by a Canadian government authority
                                    </div>
                                </div>
                            </div>
                            <hr class="myhr">
                            <div class="row">
                                <div class="td-lft-body">

                                    <div style="padding:2px 42px;text-align:center">
                                        <strong>For persons under age 18 who are unable to present a document listed above:</strong>

                                    </div>
                                </div>
                            </div>
                            <hr class="myhr">
                            <div class="row">
                                <div class="td-lft-body">
                                    <div class="td-check td-height-31">
                                        <div class="checkbox">
                                            <label>
                                                <input name="form-field-checkbox" type="checkbox" class="inverted">
                                                <span class="text main-color">&nbsp;10.</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="td-txt">
                                        School record or report card
                                    </div>
                                </div>
                            </div>
                            <hr class="myhr">
                            <div class="row">
                                <div class="td-lft-body">
                                    <div class="td-check td-height-31">
                                        <div class="checkbox">
                                            <label>
                                                <input name="form-field-checkbox" type="checkbox" class="inverted">
                                                <span class="text main-color">&nbsp;11.</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="td-txt">
                                        Clinic, doctor, or hospital record
                                    </div>
                                </div>
                            </div>
                            <hr class="myhr">
                            <div class="row">
                                <div class="td-lft-body">
                                    <div class="td-check td-height-31">
                                        <div class="checkbox">
                                            <label>
                                                <input name="form-field-checkbox" type="checkbox" class="inverted">
                                                <span class="text main-color">&nbsp;12.</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="td-txt">
                                        Day-care or nursery school record
                                    </div>
                                </div>
                            </div>

                        </td>
                        <td class="td-right">
                            <div class="row" style="margin-right:0px">
                                <div class="td-lft-body">
                                    <div class="td-check td-height-170">
                                        <div class="checkbox">
                                            <label>
                                                <input name="form-field-checkbox" type="checkbox" class="inverted">
                                                <span class="text main-color">&nbsp;1.</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="td-txt">
                                        A Social Security Account Number card, unless the card includes one of the following restrictions:
                                    </div>

                                    <div class="eightleft">
                                        <div class="checkbox">
                                            <label>
                                                <span class="text main-color">&nbsp;(1)</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="td-txt">
                                        NOT VALID FOR EMPLOYMENT
                                    </div>

                                    <div class="eightleft">
                                        <div class="checkbox">
                                            <label>
                                                <span class="text main-color">&nbsp;(2)</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="td-txt">
                                        VALID FOR WORK ONLY WITH INS AUTHORIZATION
                                    </div>

                                    <div class="eightleft">
                                        <div class="checkbox">
                                            <label>
                                                <span class="text main-color">&nbsp;(3)</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="td-txt">
                                        VALID FOR WORK ONLY WITH DHS AUTHORIZATION
                                    </div>
                                </div>
                            </div>
                            <hr class="myhr">
                            <div class="row" style="margin-right:0px">
                                <div class="td-lft-body">
                                    <div class="td-check td-height-48">
                                        <div class="checkbox">
                                            <label>
                                                <input name="form-field-checkbox" type="checkbox" class="inverted">
                                                <span class="text main-color">&nbsp;2.</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="td-txt">
                                        Certification of Birth Abroad issued by the Department of State (Form FS-545)
                                    </div>
                                </div>
                            </div>
                            <hr class="myhr">
                            <div class="row" style="margin-right:0px">
                                <div class="td-lft-body">
                                    <div class="td-check td-height-48">
                                        <div class="checkbox">
                                            <label>
                                                <input name="form-field-checkbox" type="checkbox" class="inverted">
                                                <span class="text main-color">&nbsp;3.</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="td-txt">
                                        Certification of Report of Birth issued by the Department of State (Form DS-1350)
                                    </div>
                                </div>
                            </div>
                            <hr class="myhr">
                            <div class="row" style="margin-right:0px">
                                <div class="td-lft-body">
                                    <div class="td-check td-height-58">
                                        <div class="checkbox">
                                            <label>
                                                <input name="form-field-checkbox" type="checkbox" class="inverted">
                                                <span class="text main-color">&nbsp;4.</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="td-txt">
                                        Original or certified copy of birth certificate issued by a State, county, municipal authority, or territory of the United States bearing an official seal
                                    </div>
                                </div>
                            </div>
                            <hr class="myhr">
                            <div class="row" style="margin-right:0px">
                                <div class="td-lft-body">
                                    <div class="td-check td-height-31">
                                        <div class="checkbox">
                                            <label>
                                                <input name="form-field-checkbox" type="checkbox" class="inverted">
                                                <span class="text main-color">&nbsp;5.</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="td-txt">
                                        Native American tribal document
                                    </div>
                                </div>
                            </div>
                            <hr class="myhr">
                            <div class="row" style="margin-right:0px">
                                <div class="td-lft-body">
                                    <div class="td-check td-height-31">
                                        <div class="checkbox">
                                            <label>
                                                <input name="form-field-checkbox" type="checkbox" class="inverted">
                                                <span class="text main-color">&nbsp;6.</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="td-txt">
                                        U.S. Citizen ID Card (Form 1-197)
                                    </div>
                                </div>
                            </div>
                            <hr class="myhr">
                            <div class="row" style="margin-right:0px">
                                <div class="td-lft-body">
                                    <div class="td-check td-height-48">
                                        <div class="checkbox">
                                            <label>
                                                <input name="form-field-checkbox" type="checkbox" class="inverted">
                                                <span class="text main-color">&nbsp;7.</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="td-txt">
                                        Identification Card for Use of Resident Citizen in the United States (Form 1-179)
                                    </div>
                                </div>
                            </div>
                            <hr class="myhr">
                            <div class="row" style="margin-right:0px">
                                <div class="td-lft-body">
                                    <div class="td-check td-height-140">
                                        <div class="checkbox">
                                            <label>
                                                <input name="form-field-checkbox" type="checkbox" class="inverted">
                                                <span class="text main-color">&nbsp;8.</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="td-txt">
                                        Employment authorization document issued by the Department of Homeland Security
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>

        <!-- <div class="bdr-top"><div class="pnfooter"><h4><strong>Examples of many of these documents appear in Part 8 of the Handbook for Employers (M-274).</strong></h4></div></div>
        <div class="bdr-top"><div class="pnfooter2"><h4><strong>Refer to the instructions for more information about acceptable receipts.</strong></h4></div></div> -->
    </div>
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center center-block">
        <button onclick='location.href ="/Onboarding/ReadPolicies"' class="btn btn-primary btn-md btnSearch">Previous</button>
        <button onclick='location.href = "/Onboarding/Upload_document"' class="btn btn-primary btn-md btnSearch">Next</button>
        
    </div>
    </div>
    <!-- /Page Content -->

    
