@{
    ViewData["Title"] = "Super Admin";
}
 <!-- Page Breadcrumb -->
<div class="page-breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home themeprimary"></i>
            <a href="/Dashboard/Index">Dashboard</a>
        </li>

        <li class="active">Upload Document</li>
    </ul>
</div>
<!-- /Page Breadcrumb -->
<!-- Page Header -->
<div class="page-header position-relative">
    <div class="header-title">
        <h1 class="themeprimary">
            Upload Document
        </h1>
    </div>
    <!--Header Buttons-->
    <div class="header-buttons">
        <a class="sidebar-toggler" href="#">
            <i class="fa fa-arrows-h"></i>
        </a>
        <a class="refresh" id="refresh-toggler" href="">
            <i class="glyphicon glyphicon-refresh"></i>
        </a>
        <a class="fullscreen" id="fullscreen-toggler" href="#">
            <i class="glyphicon glyphicon-fullscreen"></i>
        </a>
    </div>
    <!--Header Buttons End-->
</div>
<!-- /Page Header -->
<!-- Page Body -->
<div class="page-body">
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding:0px;">
        <!-- <h5 class="row-title before-maincolor widget-caption">Add New Division</h5> -->
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 division-form margin-top-edit">
            <form class="form-horizontal col-lg-12 col-sm-12 col-xs-12" role="form" id="form1">


                <div class="row">

                    <div class="col-md-2 col-md-offset-1 col-lg-offset-1">

                        <h4 class="personal-details1 themeprimary"><strong>Title</strong></h4>
                    </div>
                    <div class="col-md-3">
                        <h4 class="personal-details1 themeprimary"><strong>Selected File</strong></h4>
                    </div>


                    <div class="col-md-2">

                        <h4 class="personal-details1 themeprimary"><strong>Valid From</strong></h4>
                    </div>
                    <div class="col-md-2">

                        <h4 class="personal-details1 themeprimary"><strong>Valid Upto</strong></h4>
                    </div>

                </div>
                <hr class="upload-hr">
                <div class="upload-body-scroll">
                    <div class="row" style="margin-top:15px">

                        <div class="col-md-2 col-md-offset-1 col-lg-offset-1">
                            U.S. Passport or U.S. Passport Card
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <span class="btn btn-primary btn-file" style="width: 75px; float:left; margin-right:30px;">
                                        <span class="fileupload-new">Browse</span>
                                        <span class="fileupload-exists">Change</span>         <input type="file">
                                    </span>
                                    @*<span class="btn btn-md btn-primary" style="width:57px; float:left;" id="b1"@*onclick="$('#image1').show()">View</span>*@
                                    @*<span class="fileupload-preview SelectDocuments-upload-preview"></span>*@
                                    <span class="btn btn-md btn-primary" style="width:57px; float:left;" >
                                        <a  href="#" class="view" data-toggle="modal" data-target="#Passport"  style="color:white" >View</a>
                                    </span>
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="input-group">
                                <input class="form-control date-picker" id="id-date-picker-1" type="text" data-date-format="mm/dd/yyyy" value="12/6/2017">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar themeprimary"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group">
                                <input class="form-control date-picker" id="id-date-picker-1" type="text" data-date-format="mm/dd/yyyy" value="12/6/2018">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar themeprimary"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <a href="#" class="" @*class="cancel-btn"*@><button type="button" class="btn btn-md btn-primary" style="width: 58px;padding: 5px;" id="">Upload</button></a>
                        </div>

                    </div>

                    <div class="row" style="margin-top:15px">

                        <div class="col-md-2 col-md-offset-1 col-lg-offset-1">
                            Voter's registration card
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <span class="btn btn-primary btn-file" style="width: 75px; float:left; margin-right:30px;">
                                        <span class="fileupload-new">Browse</span>
                                        <span class="fileupload-exists">Change</span>         <input type="file">
                                    </span>
                                    @*<span class="btn btn-md btn-primary" style="width:57px; float:left;" id="">View</span>
                                    <span class="fileupload-preview SelectDocuments-upload-preview"></span>*@
                                    <span class="btn btn-md btn-primary" style="width:57px; float:left;">
                                        <a href="#" data-toggle="modal" data-target="#voterimage" class="view" style="color:white">View</a>
                                    </span>

                                </div>

                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="input-group">
                                <input class="form-control date-picker" id="id-date-picker-1" type="text" data-date-format="mm/dd/yyyy" value="12/6/2017">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar themeprimary"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group">
                                <input class="form-control date-picker" id="id-date-picker-1" type="text" data-date-format="mm/dd/yyyy" value="12/6/2018">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar themeprimary"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <a href="#" class="cancel-btn"><button type="button"  class="btn btn-md btn-primary" style="width: 58px;padding: 5px;" id="one">Upload</button></a>
                        </div>

                    </div>

                    <div class="row" style="margin-top:15px">

                        <div class="col-md-2 col-md-offset-1 col-lg-offset-1">
                            U.S. Citizen ID Card (Form 1-197)
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <span class="btn btn-primary btn-file" style="width: 75px; float:left; margin-right:30px;">
                                        <span class="fileupload-new">Browse</span>
                                        <span class="fileupload-exists">Change</span>         <input type="file">
                                    </span>
                                    @*<span class="btn btn-md btn-primary" style="width:57px; float:left;" id="">View</span>
                                    <span class="fileupload-preview SelectDocuments-upload-preview"></span>*@
                                    <span class="btn btn-md btn-primary" style="width:57px; float:left;">
                                        <a href="#" data-toggle="modal" data-target="#Citizen" class="view" style="color:white">View</a>
                                    </span>
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="input-group">
                                <input class="form-control date-picker" id="id-date-picker-1" type="text" data-date-format="mm/dd/yyyy" value="12/6/2017">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar themeprimary"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group">
                                <input class="form-control date-picker" id="id-date-picker-1" type="text" data-date-format="mm/dd/yyyy" value="12/6/2018">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar themeprimary"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <a href="#" class="cancel-btn"><button type="button" class="btn btn-md btn-primary" style="width: 58px;padding: 5px;" id="">Upload</button></a>
                        </div>

                    </div>

                    <div class="row" style="margin-top:15px">

                        <div class="col-md-2 col-md-offset-1 col-lg-offset-1">
                            
                             Document4
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <span class="btn btn-primary btn-file" style="width: 75px; float:left; margin-right:30px;">
                                        <span class="fileupload-new">Browse</span>
                                        <span class="fileupload-exists">Change</span>         <input type="file">
                                    </span>
                                    <span class="btn btn-md btn-primary" style="width:57px; float:left;" id="">View</span>
                                    <span class="fileupload-preview SelectDocuments-upload-preview"></span>

                                </div>

                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="input-group">
                                <input class="form-control date-picker" id="id-date-picker-1" type="text" data-date-format="mm/dd/yyyy">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar themeprimary"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group">
                                <input class="form-control date-picker" id="id-date-picker-1" type="text" data-date-format="mm/dd/yyyy">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar themeprimary"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <a href="#" class="cancel-btn"><button type="button" class="btn btn-md btn-primary" style="width: 58px;padding: 5px;" id="">Upload</button></a>
                        </div>

                    </div>

                    <div class="row" style="margin-top:15px">

                        <div class="col-md-2 col-md-offset-1 col-lg-offset-1">
                            Upload Document5
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <span class="btn btn-primary btn-file" style="width: 75px; float:left; margin-right:30px;">
                                        <span class="fileupload-new">Browse</span>
                                        <span class="fileupload-exists">Change</span>         <input type="file">
                                    </span>
                                    <span class="btn btn-md btn-primary" style="width:57px; float:left;" id="">View</span>
                                    <span class="fileupload-preview SelectDocuments-upload-preview"></span>

                                </div>

                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="input-group">
                                <input class="form-control date-picker" id="id-date-picker-1" type="text" data-date-format="mm/dd/yyyy">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar themeprimary"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group">
                                <input class="form-control date-picker" id="id-date-picker-1" type="text" data-date-format="mm/dd/yyyy">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar themeprimary"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <a href="#" class="cancel-btn"><button type="button" class="btn btn-md btn-primary" style="width: 58px;padding: 5px;" id="">Upload</button></a>
                        </div>

                    </div>

                    <div class="row" style="margin-top:15px">

                        <div class="col-md-2 col-md-offset-1 col-lg-offset-1">
                            Upload Document6
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <span class="btn btn-primary btn-file" style="width: 75px; float:left; margin-right:30px;">
                                        <span class="fileupload-new">Browse</span>
                                        <span class="fileupload-exists">Change</span>         <input type="file">
                                    </span>
                                    <span class="btn btn-md btn-primary" style="width:57px; float:left;" id="">View</span>
                                    <span class="fileupload-preview SelectDocuments-upload-preview"></span>

                                </div>

                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="input-group">
                                <input class="form-control date-picker" id="id-date-picker-1" type="text" data-date-format="mm/dd/yyyy">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar themeprimary"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group">
                                <input class="form-control date-picker" id="id-date-picker-1" type="text" data-date-format="mm/dd/yyyy">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar themeprimary"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <a href="#" class="cancel-btn"><button type="button" class="btn btn-md btn-primary" style="width: 58px;padding: 5px;" id="">Upload</button></a>
                        </div>

                    </div>

                    <div class="row" style="margin-top:15px">

                        <div class="col-md-2 col-md-offset-1 col-lg-offset-1">
                            Upload Document7
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <span class="btn btn-primary btn-file" style="width: 75px; float:left; margin-right:30px;">
                                        <span class="fileupload-new">Browse</span>
                                        <span class="fileupload-exists">Change</span>         <input type="file">
                                    </span>
                                    <span class="btn btn-md btn-primary" style="width:57px; float:left;" id="b1">View</span>
                                    <span class="fileupload-preview SelectDocuments-upload-preview"></span>

                                </div>

                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="input-group">
                                <input class="form-control date-picker" id="id-date-picker-1" type="text" data-date-format="mm/dd/yyyy">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar themeprimary"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group">
                                <input class="form-control date-picker" id="id-date-picker-1" type="text" data-date-format="mm/dd/yyyy">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar themeprimary"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <a href="#" class="cancel-btn"><button type="button" class="btn btn-md btn-primary" style="width: 58px;padding: 5px;" id="">Upload</button></a>
                        </div>

                    </div>

                    <div class="row" style="margin-top:15px">

                        <div class="col-md-2 col-md-offset-1 col-lg-offset-1">
                            Upload Document8
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <span class="btn btn-primary btn-file" style="width: 75px; float:left; margin-right:30px;">
                                        <span class="fileupload-new">Browse</span>
                                        <span class="fileupload-exists">Change</span>         <input type="file">
                                    </span>
                                    <span class="btn btn-md btn-primary" style="width:57px; float:left;" id="">View</span>
                                    <span class="fileupload-preview SelectDocuments-upload-preview"></span>

                                </div>

                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="input-group">
                                <input class="form-control date-picker" id="id-date-picker-1" type="text" data-date-format="mm/dd/yyyy">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar themeprimary"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group">
                                <input class="form-control date-picker" id="id-date-picker-1" type="text" data-date-format="mm/dd/yyyy">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar themeprimary"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <a href="#" class="cancel-btn"><button type="button" class="btn btn-md btn-primary" style="width: 58px;padding: 5px;" id="">Upload</button></a>
                        </div>
                    </div>
                </div>
                <hr class="location-hr">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center center-block">
                    @if (ViewBag.RoleID == 4)
                {
                    <a onclick='location.href="/Employee/SelectDocuments"' href="#" class="btn btn-primary btn-md btnSearch">Previous</a>
                    <a onclick='location.href = "/Employee/Signin"' href="#" class="btn btn-primary btn-md btnSearch">Next</a>
                }
                else
                {
                     <button onclick='location.href="deposit.html"' class="btn btn-primary btn-md btnSearch">Previous</button>
                <button onclick='location.href="select-document.html"' class="btn btn-primary btn-md btnSearch">Next</button>
                }
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="voterimage" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body">
                <img src="~/images/Voter Card.jpg" class="img-responsive" />
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


<div class="modal fade" id="Passport" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body">
                <img src="~/images/Passport_card.jpg" class="img-responsive" />
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


<div class="modal fade" id="Citizen" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body">
                <img src="~/images/VA-ID.jpg" class="img-responsive" />
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<environment>
    <style>
        .wizard.wizard-wired ul li {
            width: 7.6%;
        }

        .form-group p {
            margin-top: 5px;
        }

        .form-horizontal .control-label {
            text-align: left;
        }

        .help-block {
            font-size: 9px;
            line-height: 16px;
        }

        input[type=checkbox] ~ .text, input[type=radio] ~ .text {
            margin-right: 30px;
        }

        .form-horizontal .form-group {
            margin-left: 0px;
            margin-right: 0px;
        }

        .instruction-pop input {
            width: 85%;
            float: left;
            margin-right: 10px;
        }

        .popover {
            max-width: 237px;
            left: 742px;
        }

        .page-sidebar .sidebar-menu li a {
            height: 38px;
        }

            .page-sidebar .sidebar-menu li a p {
                line-height: 5px;
            }
    </style>
</environment>
<environment>
    @*<script src="~/assets/js/datetime/bootstrap-datepicker.js"></script>*@
    <script src="~/assets/js/upload-file.js"></script>
    <script>
        //--Bootstrap Date Picker--
        $('.date-picker').datepicker();
        $('.datepicker tbody').on('click', function () { $('.datepicker').hide() });
        //$('.datepicker').datepicker({
        //    autoclose: true
        //});

        $(window).bind("load", function () {
            /*Sets Themed Colors Based on Themes*/
            themethirdcolor = getThemeColorFromCss('themethirdcolor');
            InitiateEasyPieChart.init();
        });


        $("#form2").hide();
        $("#form3").hide();

        $("#btnNext1").hide();
        $("#btnNext2").hide();
        //		$("#btn").click(function(){
        //    $("#form1").show();
        //	$("#form2").hide();
        //	$("#form3").hide();
        //});

        //$("#btnUpload1").click(function(){

        //	$("#form2").show();
        //	$("#form3").hide();
        //	$("#form1").hide();
        //});

        $("#btnUpload1,#btnNext1").click(function () {
            var EmptyTextBoxes = $('#form1 input:text').filter(function () { return this.value == "" });
            if ($('#form1 .fileupload-preview').html() == "") {
                var DocumentName1 = $('#form1 p').text();
                alert('Please Upload' + " " + DocumentName1);
            }
                //else if (EmptyTextBoxes.length != 0) {
                //    EmptyTextBoxes.each(function () {
                //        alert('Please fill date');
                //        EmptyTextBoxes[0].focus();
                //        return false;    // To stop the foreach execution
                //    });
                //}
            else if ($('#form1 input:text:first').val() != "" && $('#form1 input:text:last').val() == "") {
                alert('Please provide Valid Upto date !');
                $('#form1 input:text:last').focus();
            }

            else {
                $("#form2").show();
                $("#btnNext1").show();
                $("#form3").hide();
                $("#form1").hide();
            }
        });



        $("#btnBack2").click(function () {

            $("#form1").show();
            $("#form3").hide();
            $("#form2").hide();
        });

        $("#btnUpload2,#btnNext2").click(function () {
            var EmptyTextBoxes = $('#form2 input:text').filter(function () { return this.value == "" });
            if ($('#form2 .fileupload-preview').html() == "") {
                var DocumentName2 = $('#form2 p').text();
                alert('Please Upload' + " " + DocumentName2);
            }
                //else if (EmptyTextBoxes.length != 0) {
                //    EmptyTextBoxes.each(function () {
                //        alert('Please fill date');
                //        EmptyTextBoxes[0].focus();
                //        return false;    // To stop the foreach execution
                //    });
                //}
            else if ($('#form2 input:text:first').val() != "" && $('#form2 input:text:last').val() == "") {
                alert('Please provide Valid Upto date !');
                $('#form2 input:text:last').focus();
            }
            else {
                $("#form3").show();
                $("#btnNext2").show();
                $("#form1").hide();
                $("#form2").hide();
            }
        });

        //$("#btnNext2").click(function () {

        //	$("#form3").show();
        //	$("#form1").hide();
        //	$("#form2").hide();
        //});

        $("#btnBack3").click(function () {

            $("#form2").show();
            $("#form1").hide();
            $("#form3").hide();
        });

        $("#btnUpload3").click(function () {
            var EmptyTextBoxes = $('#form3 input:text').filter(function () { return this.value == "" });
            if ($('#form3 .fileupload-preview').html() == "") {
                var DocumentName3 = $('#form3 p').text();
                alert('Please Upload' + " " + DocumentName3);
            }
                //else if (EmptyTextBoxes.length != 0) {
                //    EmptyTextBoxes.each(function () {
                //        alert('Please fill date');
                //        EmptyTextBoxes[0].focus();
                //        return false;    // To stop the foreach execution
                //    });
                //}
            else if ($('#form3 input:text:first').val() != "" && $('#form3 input:text:last').val() == "") {
                alert('Please provide Valid Upto date !');
                $('#form3 input:text:last').focus();
            }

            else {
                SendURL('/SuperAdmin/EmployeeSign');

                //$("#form1").show();
                //$("#form2").hide();
                //$("#form3").hide();
            }
        });
        //$("#btnUpload3").click(function(){

        //	$("#form1").show();
        //	$("#form2").hide();
        //	$("#form3").hide();
        //});
    </script>
    <script>
        $(document).ready(function () {
            $('.view').click(function () {
                $('#sidebar').css('z-index', '0');
                $('.navbar').css('z-index', '200');
            });

        });

        //InitiateSimpleDataTable.init();
        //InitiateEditableDataTable.init();
        //InitiateExpandableDataTable.init();
        //InitiateSearchableDataTable.init();
    </script>
    <script>
        $('#one').click(function () {
            $('#sidebar').css('z-index', '0');
            $('.navbar').css('z-index', '200');
        });
    </script>

    @*<input type="submit" name="submit" value="submit"  />*@
    
       
      
    
    @*<a href="/Employee/View" id="bottle"><img src="~/images/Passport_cardjpg" alt="bottle" class="thumbnails" /></a>*@
</environment>